<html>
    <head>
        <link rel="stylesheet" href="/style.css">
        
    </head>

    
    <body class="center">
        <div class="rightPart">
            <div class="block" id="nav_bar">
                <img src="twitterBird.jpg">
                <form action="/login" method="POST">
                    <input class="textField" placeholder="Username" name="username"/>
                    <input class="textField" placeholder="Passwort" type="password" name="password"/>
                    <button class="textField submit" href="https://www.w3schools.com/html/">Anmelden</button>
                </form>
            </div>

            <div class="centerHelper">
              <div class="box">
                <h1> Finde heraus, was gerade in der Welt los ist</h1>
                <h2>Melde dich noch heute bei Twitter an.</h2>
                <form action="/register" method="GET">
                    <button class="register">Registrieren</button>
                </form>
              </div>
            </div>
        </div>

        <div id="second_div" class="center">
            <div class="box">
                <p class="startPoints">1. Folge deinen Interessen.</p>
                <p>2. Hör dir an, worüber sich andere unterhalten.</p>
                <p>3. Beteilige dich an der Unterhaltung!</p>
            </div>
        </div>
    </body>
</html>